<div class="page">
    <div class="background back-color-6">
        <div class="border">
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
        </div>
        <div class="textbox"></div>
    </div>
    <div class="content">
        <ul class="list" ng-class="{'fadeIn': shouldAppear, 'fadeOut': shouldFade}">
            <h3>Contact</h3>
            <li>
                <h4>(502) 794-2449</h4>
            </li>
        </ul>
    </div>
</div>