<div class="page">
    <div class="background back-color-4">
        <div class="border">
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
        </div>
        <div class="textbox"></div>
    </div>
    <div class="content">
        <ul class="list" ng-class="{'fadeIn': shouldAppear, 'fadeOut': shouldFade}">
            <li>
                <h3>Experience</h3>
                <div class="job">
                    <div>
                        <h4>Humana Inc. - Consultant</h4>
                        <div>
                            <h5>Feb 2013 - Sep 2017</h5>
                            <div class="description">
                                <ul>
                                    <li>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <br>
            <li>
                <h3>Education</h3>
                <div class="school">
                    <h4>Covalence Full Stack Development Bootcamp - 2017</h4>
                    <div class="description">
                    </div>
                </div>
                <div class="school">
                    <h4>University of Louisville</h4>
                    <span class="year">2013</span>
                    <div class="description">
                        Bachelor of Science in Economics
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>