<div class="page">
    <div class="background back-color-4">
        <div class="border">
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
        </div>
        <div class="textbox"></div>
    </div>
    <div class="content">
        <ul class="list" ng-class="{'fadeIn': shouldAppear, 'fadeOut': shouldFade}">
            <li>
                <h3 class="head">Experience</h3>
                <div class="job">
                    <div>
                        <h4>Humana Inc. - Consultant</h4>
                        <div>
                            <h5>Feb 2013 - Sep 2017</h5>
                            <div class="description">
                                <ul>
                                    <li>
                                        <h5>Managed and tested databases using SQL</h5>
                                        <h5>Analyzed financial and biometric data</h5>
                                        <h5>Managed Sharepoint site</h5>
                                        <h5>Led pricing meetings between contractors, sales, etc.</h5>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <h3 class="head">Education</h3>
                <div class="school">
                    <h4>Full Stack Development Bootcamp</h4>
                    <h5>Covalence - 2017</h5>
                    <div class="description">
                    </div>
                </div>
                <div class="school">
                    <h4>Bachelor of Science in Economics</h4>
                    <h5>University of Louisville - 2013</h5>
                    <div class="description"></div>
                </div>
            </li>
        </ul>
    </div>
</div>