<div id="controls">
    <div id="av">
        <div class="plug yellow"></div>
        <div class="plug white"></div>
    </div>
    <div id="buttons">
        <div class="button" id="back" ng-click="back()" ng-mousedown="activeToggle('rewind')" ng-mouseup="activeToggle('rewind')" ng-class="{'active': rewind}"></div>
        <div class="button" id="play" ng-click="pauseToggle()" ng-mousedown="activeToggle('play')" ng-mouseup="activeToggle('play')" ng-class="{'active': play}"></div>
        <div class="button" id="forward" ng-click="ff()" ng-mousedown="activeToggle('forward')" ng-mouseup="activeToggle('forward')" ng-class="{'active': forward}"></div>
        <div class="button" id="eject"ng-mousedown="activeToggle('eject')" ng-mouseup="activeToggle('eject')" ng-class="{'active': eject}"></div>
        <div class="button" id="power" ng-click="powerToggle()" ng-mousedown="activeToggle('power')" ng-mouseup="activeToggle('power')" ng-class="{'active': power}"></div>
    </div>
    <div id="speaker"></div>
</div>