<ul class="list" ng-class="{'fadeIn': shouldAppear, 'fadeOut': shouldFade}">
    <li>
        <div>Summary</div>
        <div></div>
    </li>
    <li>
        <div>Languages</div>
        <div class="language">
            <div>Javascript</div><div class="icon"></div>
            <div class="description">

            </div>
        </div>
        <div class="language">
            <div>HTML5</div><div class="icon"></div>
            <div class="description">

            </div>
        </div>
        <div class="language">
            <div>CSS3</div><div class="icon"></div>
            <div class="description">

            </div>
        </div>
    </li>
    <li>
        <div>Skills</div>
       
    </li>
   
</ul>
