<div class="page">
    <div class="background back-color-1">
        <div class="border">
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
        </div>
        <div class="textbox"></div>
    </div>
    <div class="content">
        <ul class="list" ng-class="{'fadeIn': shouldAppear, 'fadeOut': shouldFade}">
            <li>
                <h3>Summary</h3>
                <p>
                    I am a driven web developer with a strong background in data analysis
                    and processoptimization. Experienced in working on large projects,
                    identifying client needs, and communicating across a large enterprise.
                    Well-versed in SQL, Javascript, and front-end design. Strong background
                    in Extremely motivated to learn and grow.
                </p>
            </li>
        </ul>
    </div>
</div>
