<div class="filter"></div>
<div class="page">
    <ul class="list" ng-class="{'fadeIn': shouldAppear, 'fadeOut': shouldFade}">
        <li>
            <h3>Summary</h3>
            <p>
                While working in healthcare accounting, I found that my strengths 
                and passion lied in the database coding that was a large part of my job. 
                From there I began learning more about SQL until I knew that I wanted to
                work in this space. My next step was to begin learning Javascript as well
                as HTML and CSS. I decided to get more serious with my development by 
                attending an intensive Full Stack Development bootcamp. There I was pushed
                to expand my scope until I could build fully-contained, dynamic web 
                applications using Node.js, Express, MongoDB, MySQL, and Angular. 
                <br><br>
                Since then, I've continued pushing further down this path. I am currently 
                taking online computer science courses, learning Python and Java, and 
                fleshing out my understanding of Javascript. I believe my strengths are in 
                the back-end with afocus on transforming data from several APIs into usable 
                information for my own projects, but I am comfortable with turning designs 
                given to me into a polished finished product. My goals for the next year are 
                to expand my fundamental understanding of computer science, learning 
                languages that are "closer to the metal" and more conducive to understanding 
                object oriented programming, all while continuing to improve my design 
                aptitude in order to create sites and applications that are not only powerful, 
                but user-friendly. 
            </p>
        </li>
        <li id="languages">
            <h3>Languages</h3>
            <div class="language">
                <div class="label">Javascript</div><div class="icon"></div>
                <div class="description">
                    <span>Angular, </span>
                    <span>JQuery, </span>
                    <span>Node.js, </span>
                    <span>Express, </span>
                    <span>Typescript </span>
                </div>
            </div>
            <div class="language">
                <div class="label">SQL</div><div class="icon"></div>
                <div class="description">
                    <span>DB creation, </span>
                    <span>queries, procedures</span>
                </div>
            </div>
            <div class="language">
                <div class="label">HTML5</div><div class="icon"></div>
                <div class="description">
                    <span>Layout, </span>
                    <span>Content-creation</span>
                </div>
            </div>
            <div class="language">
                <div class="label">CSS3</div><div class="icon"></div>
                <div class="description">
                    <span>Grids, </span>
                    <span>Flexbox, </span>
                    <span>Less, </span>
                    <span>Sass, </span>
                    <span>Bootstrap, </span>
                    <span>Materialize</span>
                </div>
            </div>
        </li>
        <li>
            <h3>Skills</h3>
            <div id="skills">
                <div>REST</div>
                <div>AJAX</div>
                <div>Collaboration</div>
                <div>GIT</div>
                <div>NPM</div>
                <div>Testing</div>
                <div>Communication</div>
            </div> 
        </li>
    
    </ul>
</div>
