<div class="page">
    <div class="background back-color-5">
        <div class="border">
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
        </div>
        <div class="textbox"></div>
    </div>
    <div class="content">
         <!-- <ul class="list" ng-class="{'fadeIn': shouldAppear, 'fadeOut': shouldFade}"> -->
            <div>
                <h3>Ben</h3>
                <h3>White</h3>
            </div>
        <!-- </ul> -->
    </div>
</div>
    
    