<div class="page">
    <div class="background back-color-3">
        <div class="border">
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
        </div>
        <div class="textbox"></div>
    </div>
    <div class="content">
        <h3>Projects</h3>
        <ul class="list" ng-class="{'fadeIn': shouldAppear, 'fadeOut': shouldFade}">
            <li>
                <a ng-href="https://radiant-castle-94303.herokuapp.com/" target="_blank">
                    <h4>Proximo</h4>
                    <h5>Restaurant discovery app - uses Google APIs and geolocation</h5>
                </a>
            </li>
            <li>
                <h4>Covalence Ecommerce</h4>
                <h5>From-scratch shopping cart, fully-functional checkout</h5>
            </li>
            <li>
                <h4>Personal Blog</h4>
                <h5>Session tracking - limited rights per account</h5>
            </li>
        </ul>
    </div>
</div>