<div class="page">
    <div class="background back-color-2">
        <div class="border">
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
        </div>
        <div class="textbox"></div>
    </div>
    <div class="content">
        <ul class="list" ng-class="{'fadeIn': shouldAppear, 'fadeOut': shouldFade}">
            <li id="languages">
                <h3>Languages</h3>
                <div class="language">
                    <div class="label">Javascript</div><div class="icon"></div>
                    <div class="description">
                        <span>AngularJS, </span>
                        <span>JQuery, </span>
                        <span>Node.js, </span>
                        <span>Express, </span>
                        <span>Typescript </span>
                    </div>
                </div>
                <div class="language">
                    <div class="label">SQL</div><div class="icon"></div>
                    <div class="description">
                        <span>DB creation, </span>
                        <span>queries, procedures</span>
                    </div>
                </div>
                <div class="language">
                    <div class="label">HTML5</div><div class="icon"></div>
                    <div class="description">
                        <span>Layout, </span>
                        <span>Content-creation</span>
                    </div>
                </div>
                <div class="language">
                    <div class="label">CSS3</div><div class="icon"></div>
                    <div class="description">
                        <span>Grids, </span>
                        <span>Flexbox, </span>
                        <span>Less, </span>
                        <span>Sass, </span>
                        <span>Bootstrap, </span>
                        <span>Materialize</span>
                    </div>
                </div>
            </li>
            <li>
                <h3>Skills</h3>
                <div id="skills">
                    <div>REST</div>
                    <div>AJAX</div>
                    <div>Collaboration</div>
                    <div>GIT</div>
                    <div>NPM</div>
                    <div>Testing</div>
                    <div>Communication</div>
                </div>
            </li>
        </ul>
    </div>
</div>